<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <div id="app">
        <div class="row" style="margin-top: 5%;margin-left: 5%;">
            <div class="col-md-4">
                <button type="button" class="btn btn-info btn-lg:" data-toggle="modal" data-target="#myModal">New user</button>                                  
            </div>
            <div class="col-md-4 text-center text-uppercase alert alert-success">User Management</div>
        </div>
        <div class="row">                     
            <div class="form-group">
                 <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                  
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title text-justify text-center">Add new user</h4>
                        </div>
                        <div class="modal-body">
                          <div class="row" style="padding: 5%;">
                            <div class="form-group">
                                <label for="login">Login</label>
                                <input v-model="login" type="login" class="form-control" id="login">
                              </div>
                              <div class="form-group">
                                <label for="pwd">Password</label>
                                <input v-model="pwd" type="password" class="form-control" id="pwd">
                              </div>
                              <button type="submit" @click="Add()" data-dismiss="modal" class="btn btn-default">{{action}}</button>                                              
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                  
                    </div>
                </div> 
            </div>
        </div>
        <hr class="">
        <div class="container">
            <div class="row justify-content-center">
                <table class="table table-bordered table-white table-responsive-lg table-fixed border-0 col-lg-12" id="table">
                    <thead>
                    <tr class="text-center">
                        <th scope="col">ID</th>
                        <th scope="col">LOGIN</th>
                        <th scope="col">PASSWORD</th>
                        <th scope="col">ACTION</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" v-for="data in datas" :key="data.pwd">
                            <td>{{data.id}}</td>
                            <td>{{data.login}}</td>
                            <td>{{data.pwd}}</td>
                            <td>
                                <button class="btn btn-danger " @click="Delete(data.id)">Delete</button>
                                <button class="btn btn-info " data-toggle="modal" data-target="#myModal" @click="Update(data)">Update</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row col form-group mb-2 justify-content-end">
                </div>
            </div>
                <div v-if="bool" class="text-center text-uppercase alert alert-danger">No user</div>
        </div>               
    </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.js"></script>
<script src="./scripts.js">
</script>
</html>